.env
*.env
*.jks
*.keystore
google-services.json
GoogleService-Info.plist

# Flutter y Dart
.dart_tool/
.fvm/
.idea/
.packages
.pub-cache/
.pub/
build/

# Node / PWA / OS
node_modules/
.DS_Store
Thumbs.db
